a {
    color: white !important;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #9c9c9c !important;
}

#logo {
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-color: #555555 !important;
    color: white;
    font-weight: bold;
    font-size: medium;
}

#addVideo {
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#logoText:hover {
    color: white !important;
}

#descriptionTitle {
    font-weight: bold;
}

#descriptionText {
    font-size: larger;
    padding-top: 5%;
    margin-left: 15%;
}

#active {
    text-decoration: underline;
    text-decoration-color: #A5A5A5;
    text-decoration-thickness: 5px;
}

footer {
    background-color: #9C9C9C;
    height: 5%;
}

#title {
    text-align: center;
    padding-top: 2%;
    font-weight: bold !important;
    color: black !important;
}


h2 {
    text-align: center;
    padding-top: 2%;
    color: black !important;
}

#mainContent {
    display: inline-block;
}

#imageiphone13mini {
    display: inline-block !important;
    width: 300px;
    height: 350px;
}

#descriptionForImage {
    display: inline-block !important;
}

#technicalDetailsTable {
    margin-left: 20%;
    max-width: 50%;
}

.titleTextTable {
    font-weight: bold;
    color: black !important;

}