a {
    color: white !important;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #9c9c9c !important;
}

#logo {
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-color: #555555 !important;
    color: white;
    font-weight: bold;
    font-size: medium;
}

#addVideo {
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#logoText:hover{
color: white !important;
}
#descriptionTitle{
    font-weight: bold;
}
#descriptionText{
    font-size: larger;
    padding-top: 5%;
    margin-left: 15%;
}
#active{
    text-decoration: underline;
    text-decoration-color: #A5A5A5;
    text-decoration-thickness: 5px;
}